In [501]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Para cargar los datos es primero necesario utilizar el parametro on_bad_lines y utilizar skip ya que el dataframe en si trae texto dentro de si lo cual hace que leerlo solo llamando al archivo sea imposible

Por ultimo, utilizar el separador ; y setear el indice con los valores de la columna Día

In [502]:
dolar_2019 = pd.read_csv('/home/pato/Documents/GitHub/tarea1-add/data/raw/dolar2019_sii.csv',
                        on_bad_lines='skip', sep=';')

In [503]:
dolar_2019.set_index('Día', inplace=True)

In [504]:
años = []
for i in range (0,32):
    años.append(2019)

dolar_2019['year'] = np.asarray(años, dtype = 'int64')
dolar_2019 = dolar_2019.replace(',', '.', regex=True)
dolar_2019 = dolar_2019.astype(dtype='float64')

In [505]:
dolar_2019.head()

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
Día,,,,,,,,,,,,,
1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0

In [506]:
dolar_2019.to_csv('/home/pato/Documents/GitHub/tarea1-add/data/interim/d2019.csv', sep=',')

Este otro dataframe tiene un formato parecido, solo que a diferencia del otro este no trae las columnas de los meses y la de dia, y por ultimo el separador de estos datos ya no es el ; si no que el |.

Por lo tanto, primero hay que pasarle las columnas, y el nuevo separador. Por ultimo, setear el indice a los valores de la columna Día

In [507]:
columnas = ['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep',
       'Oct', 'Nov', 'Dic']

dolar_2020_txt = pd.read_table('/home/pato/Documents/GitHub/tarea1-add/data/raw/dolar_2020_sii.txt',
                               sep='|', header=None)

In [508]:
dolar_2020_txt.columns = columnas
dolar_2020_txt.set_index('Día', inplace=True)

In [509]:
años = []
for i in range (0,32):
    años.append(2020)

dolar_2020_txt['year'] = np.asarray(años, dtype = 'int64')
dolar_2020_txt = dolar_2020_txt.replace(',','.', regex=True)
dolar_2020_txt = dolar_2020_txt.astype(dtype='float64')

In [510]:
dolar_2020_txt.head()

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
Día,,,,,,,,,,,,,
1,NaN,NaN,NaN,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020.0
2,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020.0
3,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020.0
4,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020.0
5,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020.0

In [511]:
dolar_2020_txt.to_csv(r'/home/pato/Documents/GitHub/tarea1-add/data/interim/d2020.txt', sep=' ')

In [512]:
dolar_2020_regex = pd.read_table('/home/pato/Documents/GitHub/tarea1-add/data/raw/dolar_2020_sii_AA.dat', 
                                 header=None)

In [513]:
dolar_2020_regex.head()

                                                   0
0  1XAXXAXXAXXAX852,03XAXXAX806,32XAX821,23XAXXAX...
1  2XBX748,74XBXXBX818,32XBX863,81XBXXBX796,46XBX...
2  3XBX754,16XZX799,11XZX817,45XZX861,89XZXXZX782...
3  4XZXXtX790,92XtX809,81XtXXtX837,92XtX769,13XtX...
4  5XtXXtX781,78XtX812,19XtXXtX838,74XtX775,58XtX...

In [514]:
promedio = str(dolar_2020_regex.values[31]).replace('PromedioXYX', '')
promedio = promedio.replace('[', '').replace(']', '').replace("'", "")

In [515]:
import re
list_promedio = []

match_promedio = re.split('[a-zA-Zá-ý]{3}', promedio)
match_promedio.insert(0, 'Promedio')

In [516]:
new_match = []
for i in range(0,31):
    match = re.split('[a-zA-Zá-ý]{3}', dolar_2020_regex.values[i,0])
    new_match.append(match)

new_match.append(match_promedio)

In [517]:
dolar_2020_regex_new = pd.DataFrame(new_match, columns=columnas)

In [518]:
dolar_2020_regex_new.head()

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,,,,"852,03",,"806,32","821,23",,"776,46","788,15",,"767,29"
1,2,"748,74",,"818,32","863,81",,"796,46","816,29",,"770,59","785,04","771,92","760,16"
2,3,"754,16","799,11","817,45","861,89",,"782,86","803,98","757,06","771,45",,"769,17","755,34"
3,4,,"790,92","809,81",,"837,92","769,13",,"761,34","773,71",,"758,53","752,03"
4,5,,"781,78","812,19",,"838,74","775,58",,"767,98",,"790,81","757,16",

In [519]:
dolar_2020_regex_new.set_index('Día', inplace=True)

In [520]:
años = []
for i in range (0,32):
    años.append(2020)

dolar_2020_regex_new['year'] = np.asarray(años, dtype = 'int64')
dolar_2020_regex_new = dolar_2020_regex_new.replace(',','.', regex=True)
dolar_2020_regex_new = dolar_2020_regex_new.astype(dtype='float')

ValueError: could not convert string to float: ''

El nuevo dataframe del dolar_2020_regex es casi igual al anterior, lo unico es que los valores vienen en blanco en vez de valores NaN, pero al reemplazar los valores vacios con NaN ambos dataframes se ven exactamente iguales

In [ ]:
dolar_2020_regex_new = dolar_2020_regex_new.replace('', np.nan)
dolar_2020_regex_new.head()

In [521]:
dolar_2020_regex_new.to_csv('/home/pato/Documents/GitHub/tarea1-add/data/interim/dolar_2020_excel.csv', sep=';')

In [523]:
df_concat_1 = pd.concat([dolar_2019, dolar_2020_txt], axis=1)

In [524]:
df_concat_1

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,...,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
Día,,,,,,,,,,,,,,,,,,,,,
1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,...,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020.0
2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,...,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020.0
3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,...,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020.0
4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,...,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020.0
5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,...,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020.0
6,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,NaN,...,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020.0
7,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,715.53,...,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020.0
8,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,717.05,...,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020.0
9,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,722.28,...,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020.0
10,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,724.27,...,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020.0
11,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,720.61,...,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020.0
12,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,NaN,...,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020.0
13,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,NaN,...,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020.0
14,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,712.98,...,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020.0
15,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,712.04,...,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020.0
16,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,715.48,...,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020.0
17,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,718.69,...,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020.0
18,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,713.23,...,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020.0
19,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,NaN,...,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020.0
20,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,NaN,...,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020.0
21,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,709.71,...,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020.0
22,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,723.52,...,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020.0
23,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,726.24,...,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020.0
24,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,726.15,...,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020.0
25,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,723.43,...,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020.0
26,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,NaN,...,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020.0
27,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,NaN,...,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
28,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,725.87,...,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
29,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,724.37,...,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
30,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,726.34,...,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
31,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,NaN,...,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0
Promedio,677.06,656.30,667.68,667.40,692.00,692.41,686.06,713.70,718.44,721.03,...,853.38,821.81,793.72,784.73,784.66,773.40,788.27,762.88,734.73,2020.0

In [525]:
df_concat_0 = pd.concat([dolar_2019, dolar_2020_txt], axis=0)

In [526]:
df_concat_0

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
Día,,,,,,,,,,,,,
1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0
Promedio,772.65,796.38,839.38,853.38,821.81,793.72,784.73,784.66,773.40,788.27,762.88,734.73,2020.0

In [527]:
df_concat_0.info

<bound method DataFrame.info of              Ene     Feb     Mar     Abr     May     Jun     Jul     Ago  \
Día
1            NaN  657.81  651.79  678.53     NaN     NaN  679.15  700.82
2         694.77     NaN     NaN  672.56  678.71     NaN  677.62  704.88
3         697.09     NaN     NaN  670.05  683.31  709.80  681.30     NaN
4         697.64  655.39  656.57  667.55     NaN  704.59  680.48     NaN
5            NaN  653.80  659.07  666.32     NaN  696.78  677.64  711.13
...          ...     ...     ...     ...     ...     ...     ...     ...
28        787.86  816.26     NaN  856.76  816.47     NaN  768.81  784.27
29        788.13     NaN     NaN  850.41  812.74     NaN  767.82     NaN
30        788.18     NaN  835.23  836.62     NaN  816.36  759.18     NaN
31        797.96     NaN  846.30     NaN     NaN     NaN  754.45  779.92
Promedio  772.65  796.38  839.38  853.38  821.81  793.72  784.73  784.66

             Sep     Oct     Nov     Dic    year
Día
1            NaN  728.21     NaN     NaN  2019.0
2         720.20  729.38     NaN  812.13  2019.0
3         724.72  727.80     NaN  804.29  2019.0
4         725.69  719.53  735.05  802.44  2019.0
5         723.30     NaN  736.66  796.75  2019.0
...          ...     ...     ...     ...     ...
28        787.15  772.05     NaN  710.26  2020.0
29        784.19  775.56     NaN  710.64  2020.0
30        784.46  770.45  766.69  711.24  2020.0
31           NaN     NaN     NaN     NaN  2020.0
Promedio  773.40  788.27  762.88  734.73  2020.0

[64 rows x 13 columns]>

El problema que se presenta en df_concat_1 es que toma el año 2019 en medio de la planilla y el del 2020 al final, mientras que con el df_concat_